body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, halvatica;
}
/* ..................navbar............ */
nav {
  width: 100%;
}
nav img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid rgba(3, 3, 56);
  margin: 10px 50px;
  position: relative;
}
nav ul {
  float: right;
}
ul.topnav li {
  list-style: none;
  display: inline-block;
  margin: 0px 30px;
  line-height: 50px;
}
ul.topnav li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}
li a.active,
li a:hover {
  background-color: rgba(121, 119, 154);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
  padding: 6px;
  border-radius: 20px;
}
ul.topnav li.dropdownIcon {
  display: none;
}
/* ...........header section............. */
.wrapper {
  /* position: relative; */
  width: 100%;
  height: 660px;
  overflow: hidden;
  background: linear-gradient(
    360deg,
    rgba(121, 119, 154) 0%,
    rgba(58, 54, 106) 50%,
    rgba(3, 3, 56) 100%
  );
}
.headerContent {
  height: 400px;
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: rgba(254, 254, 254);
  text-transform: capitalize;
}
.headerContent h1 {
  /* font-family: Kunstler Script; */

  font-size: 5em;
  text-shadow: 4px 4px 6px #000000;
  margin-top: -20px;
  margin-bottom: -4px;
}
.box div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.8);
}
.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 35%;
  left: 6%;
  animation: animate 8s linear infinite;
}
.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
  }
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
}
p {
  width: 40%;
  margin: auto;
  text-align: center;
}

/* ..........................section#2.................... */
.section2 {
  padding: 40px;
}
.row {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 50px;
}
.col {
  width: 20%;
  margin: 40px 0px 40px 0px;
  height: 150px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  border-radius: 4%;
  padding: 30px;
  line-height: 10px;
  text-align: center;
}
.col:hover {
  color: #fff;
  background: rgba(121, 119, 154);
  transform: rotate(5deg);
}
.icon {
  /* background: -webkit-linear-gradient(#eee, #333); */
  font-size: 30px;
  color: rgba(58, 54, 106);
}
/* .icons {
  background: -webkit-linear-gradient(#eee, #333);
} */

/* ...........................sectioon#3.................... */
.section3 {
  width: 80%;
  background: rgba(3, 3, 56);

  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
  height: fit-content;
  padding: 100px;
  border-radius: 5% 5% 0 0;
  /* https://bennettfeely.com/clippy/ */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden;
}
.tools {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: auto;
}
.toolCol {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px double rgba(121, 119, 154);
  box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
}
.toolCol:hover {
  transform: scale(0.9);
}
.section4 {
  margin: 100px;
}

/* ....................................responsive design.................................. */
@media screen and (max-width: 768px) {
  /* .........responsive navbar.......... */
  nav img {
    margin: 10px 0px 0px 20px;
    height: 60px;
    width: 60px;
  }
  nav ul {
    float: none;
    display: inline;
  }
  ul.topnav li {
    display: none;
  }
  ul.topnav li.dropdownIcon {
    display: inline;
    float: right;
  }
  ul.topnav.responsive li.dropdownIcon {
    position: fixed;
    top: 0;
    right: 0;
  }
  ul.topnav.responsive {
    position: relative;
    margin: 0;
    padding: 0;
  }
  ul.topnav.responsive li {
    display: block;
  }
  ul.topnav.responsive li {
    display: block;
  }
  ul.topnav.responsive li:not(:nth-child(5)) {
    margin: 0;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 2px;
    background-color: rgba(121, 119, 154);
    border-radius: none;
  }
  /* .......section#2........... */
  .row {
    display: block;
    justify-content: center;
    width: 100%;
  }
  .col {
    width: 70%;
  }
}
